.user {
    width: 16px;
    padding-top: 4px;
    display: inline-block;
    vertical-align: middle;
}

.calendar {
    display: inline-block;
    vertical-align: middle;
}

span {
    margin-bottom: -4px;
}

.blog_image {
    width: 700px;
}

.code {
    font-family: Consolas, "courier new";
    color: black;
    background-color: #edf2f7;
    padding: 15px;
    border-radius: 3px;
    font-size: 105%;
}
